:root {
  --main-color: #01bbf0;
  --main-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  --second-color: #d2e3f7;
  --fontfamily-header: "Playfair Display", serif;
  --fontfamily-p: "Poppins", sans-serif;
}
body {
  font-family: var(--fontfamily-p);
  margin-top: 100px;
}
h1,
h2,
h3 {
  margin: 0;
}
h1 {
  font-size: 86px;
  font-family: var(--fontfamily-header);
  font-weight: 700;
  line-height: 64px;
}
.hero h2 {
  font-size: 44px;
  font-family: var(--fontfamily-p);
  font-weight: 600;
  line-height: 64px;
}
h3 {
  font-size: 32px;
  opacity: 0.7;
}
.description h2 {
  font-family: var(--fontfamily-header);
  font-weight: 700;
  line-height: 54px;
}
.description p {
  opacity: 0.7;
  line-height: 28px;
}
div.buttons {
  display: flex;
  justify-content: center;
}
div.buttonsLaunch {
}
.contact,
.about {
  padding: 20px 35px;
  border: 1px solid var(--main-color);
  text-decoration: none;
  font-weight: bolder;
  font-size: 16px;
  box-shadow: var(--main-shadow);
  margin: 55px 10px;
}

.contact {
  border-radius: 10% 0 0 10%;
  background-color: var(--main-color);
  color: white;
}
.contact:hover {
  background-color: white;
  color: var(--main-color);
  box-shadow: unset;
}
.about {
  border-radius: 0 10% 10% 0;
  background-color: var(--main-color);
  color: white;
}
.about:hover,
.launch:hover {
  background-color: white;
  color: var(--main-color);
  box-shadow: unset;
}
a.homepage,
a.email {
  display: block;
  text-align: center;
}
a.email {
  color: var(--main-color);
  font-size: 25px;
}
.about-text {
  display: flex;
  justify-content: center;
  margin: 30px 0;
  font-size: 18px;
}
/*p {
  background-color: var(--second-color);
  padding: 20px;
  margin: 5px;
  text-align: center;
  font-size: 20px;
  border: 1px solid var(--second-color);
} 
p.firstCol {
  border-radius: 2% 0 0 2%;
}
p.secondCol {
  border-radius: 0 2% 2% 0;
}*/
.launch {
  border-radius: 5px;
  background-color: var(--main-color);
  color: white;
  padding: 15px;
  border: 1px solid var(--main-color);
  text-decoration: none;
  font-weight: normal;
  font-size: 15px;
  text-transform: capitalize;
  box-shadow: var(--main-shadow);
}
.imageN:hover {
  border: 5px solid var(--second-color) !important;
  box-shadow: unset;
}
@media (max-width: 960px) {
  h1 {
    font-size: 60px;
  }
  .hero h2 {
    font-size: 38px;
  }
  h3 {
    font-size: 25px;
  }
  .description {
    text-align: center;
  }
  .about-page {
    margin-left: 10px;
    margin-right: 10px;
  }
}
